---
extends: default

rules:
  line-length: disable
  trailing-spaces: enable
  indentation:
    level: error
    indent-sequences: true
  truthy:
    level: error
    allowed-values:
      - 'true'
      - 'false'

...
