name = "{{ demo_edge_blueprint_name }}"
description = ""
version = "{{ demo_edge_blueprint_version }}"
{% for _pkg_name in demo_edge_node_packages[ansible_distribution_major_version] %}

[[packages]]
name = "{{ _pkg_name }}"
version = "*"
{% endfor %}
{% for _pkg_name in demo_edge_node_kiosk_packages[ansible_distribution_major_version] %}

[[packages]]
name = "{{ _pkg_name }}"
version = "*"
{% endfor %}

[[customizations.user]]
name = "{{ demo_edge_node_user }}"
description = "default edge user"
password = "{{ demo_edge_node_password | password_hash }}"
key = "{{ _edge_node_pubkey.content | b64decode | trim }}"
home = "/home/{{ demo_edge_node_user }}/"
shell = "/usr/bin/bash"
groups = [ "wheel" ]

[[customizations.sshkey]]
user = "{{ demo_edge_node_user }}"
key = "{{ _edge_node_pubkey.content | b64decode | trim }}"
