<VirtualHost *:80>
    ProxyPreserveHost on
    ProxyPass "/salute"  "http://{{ hostvars['edge-node'].ansible_host }}:8080/"
    ProxyPassReverse "/salute"  "http://{{ hostvars['edge-node'].ansible_host }}:8080/"
</VirtualHost>
